In [1]:
import pandas as pd
from cassandra.cluster import Cluster

In [84]:
clstr = Cluster()
session = clstr.connect()

In [3]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04
w04python

In [93]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS mid WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':1
    }
""")

In [94]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
mid
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04

verified whether the created keyspace is listed in the list of keyspaces

In [95]:
for row in rows:
    print(f"{row[0]}")
session.execute("""
CREATE TABLE mid.userdata ( 
    user_id INT, 
    name TEXT, 
    file_type TEXT, 
    Date Date,
    PRIMARY KEY(user_id)
);
""")

created a table with the userdata details for this business case i.e userid,name,file type , date

In [97]:
with open("value.txt:","w") as data:
    data.write("name - John")

created a text file with a single data attribute name

In [98]:
with open("value.txt:","r") as data:
  temp = data.read()

read the text file created and assigned the text file to a variable called temp

In [27]:
temp

'name - John\nuser id - 1\ndate - 10/03/2023\nfile type - image\nname - John\nuser id - 2\ndate - 10/03/2023\nfile type - image\nname - John\nuser id - 3\ndate - 10/03/2023\nfile type - image'

printed the values entered in the.txt file by typing the variable assigned

In [99]:
values =[(1,"john","image","2023"),(2,"jim","image","2023"),
       (3,"jane","video","2023")]

defined values for the attributes defined in the table

In [100]:
df=pd.DataFrame(values,columns=['user_id','name','file_type','date'])
df

   user_id  name file_type  date
0        1  john     image  2023
1        2   jim     image  2023
2        3  jane     video  2023

In [101]:
for row in values: 
    session.execute("""
        INSERT INTO mid.userdata (user_id, name, file_type, date)     
        VALUES (%s,%s,%s,%s);
        """,
        (row[0],row[1],row[2],row[3])
    )

In [102]:

rows = session.execute("select (user_id, name, file_type, date) from mid.userdata")
for row in rows:
    print(f"user_id={row[0][0]}, name={row[0][1]}, file_type={row[0][2]}, date={row[0][3]}")

user_id=1, name=john, file_type=image, date=-2147481625
user_id=2, name=jim, file_type=image, date=-2147481625
user_id=3, name=jane, file_type=video, date=-2147481625

Delete Query